
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');





/* RESET */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: "Outfit", sans-serif;
}

/* ----------classes fonctionnelles flex box------------ */ 

.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

.text-center {
    text-align: center;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}
.gap-230 {
    gap: 230px;
}

/* classes de largeurs */

.w-100 {
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-22 {
    width: 22%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

/* container */
.container-1000 {
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

.list-puce {
    list-style-type: none;
}

.bg-baniere {
    background-image: url(asset-architecture/hero-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.bg-section-2 {
    background: #996830;
}

.trait {
    background-color: #FBD784;
    height: 2px;
    width: 60px;
}

.trait-2 {
    background-color: #ffffff;
    height: 2px;
    width: 60px;
}

.white-transparent {
    color: rgb (255, 255, 255, 0,434); 
}

.relative {
    position: relative;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.padding-30 {
    padding: 30px;
}

body {
    background-color: #ffffff ;
}

.position-nav {
    position: fixed;
    top: 200px;
    right: 10px;
}

.position-header {
    position: fixed;
    top: 20px;
    width: 100%;
    
}
.margin-top-30 {
    margin-top: 30px;
}


.margin-top-50 {
    margin-top: 50px;
}


.margin-top-100 {
    margin-top: 100px;
}


.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}


.margin-top-15 {
    margin-top: 15px;
}


.margin-left {
    margin-left: 30px;
}

.yellow {
    color: #FBD784;
}

.footer {
    align-content: space-around;
}

.color-white {
    color: #ffffff;
}


.police {
   font-family:"Playfair Display", serif; 
}

.police-2 {
    font-family: "Outfit", sans-serif ;

}

.italique {
    font-style: italic;
}

h1 {
    font-size: 60px;
}

.img-size {

    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.border-1 {
    border: 2px solid #cb980a;
}

.block {
    display: block;
}

input {
    padding: 4px 8px ;
    margin-bottom: 16px;
}

.bg-section-footer {
    background: #996830;
    padding: 100px 0 60px 0;

}

.text-size {
  font-size: 9px;
}


.btn {

    background-color: #996830;
    border-radius: 0;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
}

.btn-2 {

    background-color: #000000;
    border-radius: 0;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
}